body{
    margin: 0;
}
a{
    text-decoration: none;
}

#top{
    text-align: center;
    border-bottom: 1px solid gray;
}

#top h1{
    font-size: 45px;
    margin: 0;
}

#top div{
    margin: 10px;
}

ol{
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 20px;
}
#grid{
    display: grid;
    grid-template-columns: 150px 1fr;
}